// BEM命名规则
@mixin b($block) {
  .#{$block} {
    @content;
  }
}

@mixin e($element) {
  @at-root &__#{$element} {
    @content;
  }
}

@mixin m($modifier) {
  @at-root &--#{$modifier} {
    @content;
  }
}

//添加浏览器前缀
@mixin browserPrefix($propertyName,$value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$propertyName}: $value;
  }
}

/**
* 溢出省略号
* @param {Number} 行数
*/
@mixin ellipsis($rowCount: 1) {
  @if $rowCount <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $rowCount;
    -webkit-box-orient: vertical;
  }
}

// 文本居中
@mixin center($height:100%){
  height: $height;
  line-height: $height;
  text-align: center
}

// flex布局
@mixin flex ($direction: row, $justify-content: flex-start, $align-items: flex-start,$flex-wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}

